/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* customized */
@font-face {
  font-family: 'Cubic_11';
  src: url('./font/Cubic_11_1.100_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #f0f6f0;
  --black: #222323;
  --black-cover: #222323ee;
}

body {
  width: 100%;
  /* font-family: 'Cubic_11', sans-serif; */
}

.pixel-font {
  font-family: 'Cubic_11', sans-serif;
}

/* style */

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

/* layout */
.container {
  display: flex;
  max-width: 800px;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 92px;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-img {
    width: 37px;
    height: 37px;
    margin-right: 8px;
  }

  .logo-text {
    font-size: 32px;
  }

  .link-container {
    display: flex;
    gap: 28px;
  }

  .link {
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  .arrow {
    position: relative;

    &:hover {
      display: block;
      transform: translateY(4px);
    }

    &:hover::before {
      content: '';
      display: block;
      position: absolute;
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
      width: 14px;
      height: 14px;
      background-image: url('./assets/down-arrow.svg');
      background-size: cover;
    }
  }
}

.hero {
  position: relative;
  min-height: 100vh;
  background-image: url('./assets/background.gif');
  background-size: cover;
  background-position: center top;
  text-align: center;
  animation-play-state: paused;

  .container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-cover);
    padding: 20px 120px;
    border: var(--white) 3px solid;
  }

  .h1 {
    font-size: 52px;
    margin-bottom: 12px;
  }

  .line {
    width: 473px;
    height: 2px;
    margin-bottom: 24px;
  }

  .h2 {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .info {
    font-size: 24px;
    line-height: 1.5;
  }
}

.seperate {
  width: 100%;
  height: 50px;
  background-image: url('./assets/seperate.png');

  &.reverse {
    transform: rotate(180deg);
  }
}

.about {
  min-height: 100vh;
  text-align: center;
  padding-bottom: 64px;

  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }

  .h2 {
    margin-top: 102px;
    font-size: 46px;
    margin-bottom: 76px;
  }

  .h3 {
    font-size: 28px;
    margin-bottom: 62px;
    font-weight: bold;
  }

  .info {
    text-align-last: left;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 16px;
  }

  .img-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

.artist {
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
  }

  .h2 {
    margin-top: 102px;
    font-size: 46px;
    margin-bottom: 76px;
    text-align: center;
  }

  .h3 {
    font-size: 28px;
    margin-bottom: 62px;
    text-align: center;
    font-weight: bold;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
    margin-bottom: 200px;
  }

  .item {
    background: white;
    padding: 0 12px 10px 12px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.025);
    }

    &:hover .title {
      color: #ac3232;
    }
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0;
  }

  .artist-img-container {
    height: 244px;
  }

  .artist-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.map {
  min-height: 100vh;
  text-align: center;
  padding-bottom: 64px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .h2 {
    margin-top: 102px;
    font-size: 46px;
    margin-bottom: 76px;
  }

  .h3 {
    font-size: 28px;
    margin-bottom: 62px;
    font-weight: bold;
  }

  .info-list {
    font-size: 18px;
    margin-bottom: 36px;
  }

  .info-item {
    margin-bottom: 16px;
  }

  .map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin-bottom: 64px;
  }

  .map-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
  }

  .img-container {
    display: flex;
    justify-content: center;
  }
}

.line {
  width: 100%;
  height: 4px;
  background-color: var(--black);
}

.footer {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 48px;
  font-size: 18px;
}

/* 本次範例 */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* 解決方案 1 */
/* section {
  padding-top: 92px; 
} */

/* 解決方案 2 */
section {
  scroll-margin-top: 92px;
}
